# Django Configuration
DEBUG=True
SECRET_KEY=django-insecure-695mwv$ykb&qd+koxt^zx1i$is(7s-qqoe^@0^3dveqq536sad
ALLOWED_HOSTS=*

# Neon PostgreSQL Database URL
# Format: postgresql://[user]:[password]@[neon-host]/[dbname]?sslmode=require
# Copy your connection string from the Neon Console:
DATABASE_URL=postgresql://neondb_owner:your_password@ep-sample-pooler-123456.us-east-2.aws.neon.tech/neondb?sslmode=require
